* {
  box-sizing: border-box;
  }
  body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
  }
  main {
    width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2em;
  }